.layout {
  min-height: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  &-header {
    background-color: black;
  }
  .content {
    display: flex;
    background-color: $background-grey-light;
    height: calc(100% - 130px);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
