* {
  padding: 0;
  margin: 0;
}
.parent {
  height: 100vh;
  display: grid;
  grid-gap: 30px;
  grid-template-columns:
    [sidebar-start] 1fr
    [contenido-start] 2fr;
  grid-template-rows:
    [headerClass-start] 1fr
    [contenido-start] 2fr
    [footPage-start] 1fr;
  /* grid-template-columns: 1fr 2fr 1fr; */
}
.parent > * {
  font-family: sans-serif;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerClass {
  grid-column: sidebar-start / -1;
}

.contenido {
  grid-column: contenido-start;
}

.sidebar {
  grid-row: contenido-start/-1;
}

.footPage {
  grid-column: contenido-start;
}
