* {
  padding: 0;
  margin: 0;
}
.parent {
  height: 100vh;
  display: grid;
  grid-gap: 30px;
  grid-template-columns:
    [sidebar-start] 1fr
    [sidebar-end contenido-start] 2fr
    [contenido-end];
  grid-template-rows:
    [headerClass-start ] 1fr
    [ headerClass-end contenido-start] 5fr
    [contenido-end footPage-start] 1fr
    [footPage-end];
  /* grid-template-columns: 1fr 2fr 1fr; */
}
.parent > * {
  font-family: sans-serif;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerClass {
  grid-column: sidebar-start / contenido-end;
}

.contenido {
  grid-column: contenido-start;
}

.sidebar {
  grid-row: contenido-start/footPage-end;
}

.footPage {
  grid-column: contenido-start/contenido-end;
}
