.register-form-div {
  background-color: hsl(0, 0%, 0%);
  height: 100vh;
}
.register-form-space {
  height: 80%;
  width: 50%;
  background-color: #ebedf0;
  border-radius: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 10%;
  box-shadow: 50px 50px 50px 50px rgba(255, 255, 255, 0.2);

  .register-form {
    .ant-input-affix-wrapper {
      box-shadow: 2px 2px 2px 2px rgba(158, 152, 152, 0.14);
    }
    margin-top: 50px;
    .ant-form-item:last-of-type {
      margin: 0;
    }
    .ui.form .ui.input input {
      .ant-input-prefix {
        i {
          font-size: $defaultFontSize;
        }
        span {
          width: 10%;
        }
      }
      input {
        background-color: transparent;
        font-size: $defaultFontSize;
        border-radius: 20px;
        padding: 10px 20px 10px 20px !important;
        &:focus {
          border-color: $primary-color;
          box-shadow: none;
        }
      }
    }
    &__register {
      a {
        color: black;
      }
    }

    &__button {
      margin-bottom: 20px;
      .ui.button {
        background-color: transparent;
        color: $font-light;
        margin: 0;
        min-height: 0;
        align-items: center;
        justify-content: center;
      }
      width: 100%;
      font-size: $defaultFontSize;
      background-color: $primary-color;
      color: $font-light;
      height: 42px;
      border-radius: 20px;
      &:hover {
        background-color: $primary-color-hover;
        color: $font-light;
      }
      &:focus,
      &:active {
        background-color: $primary-color;
        color: $font-light;
        border: 0;
      }
    }
  }
}

.ui.form .ui.input input {
  border-radius: 20px;
  &:focus,
  &:active {
    border-radius: 20px;
  }
}
