.layout {
  background-color: black;
  overflow-y: scroll;
  &-header {
    background-color: black;
  }
}

.layout {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-size: cover;
  background-position: center;
  .content {
    background-color: $background-grey-light;
    height: calc(100vh - 130px);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.fixedHeader{
  position: fixed;
  background-color: black;
}
