.slick-slider.carrousel-shisha.slick-initialized {
  .slick-track {
    width: 300px;
    height: 100px;
    display: flex;
  }
  img.ui.fluid.image {
    height: 100%;
    width: 100%;
    display: flex;
  }
  .slick-arrow {
    z-index: 1;
    &::before {
      font-size: 30px;
    }
    &.slick-next:before {
      right: 100px;
      font-size: 60px;
    }
    &.slick-prev:before {
      left: 100px;

      font-size: 60px;
    }
  }
}
