.create-hookah {
  height: 100vh;
  width: 100%;
  background-color: black;
  .column1 {
    float: left;
    height: 100vh;
    width: 50%;

    &:hover {
      -webkit-filter: drop-shadow(100px 100px 100px #222);
      filter: drop-shadow(20px 20px 20px #222);
    }
  }
}

// style={{
//     height: "100vh",
//     background: "grey",
//   }}
