/*per les clases seria millor usar &__light i &__dark???*/
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* *{
    box-sizing: border-box;
} */
.lightHome{
/**/
background-color: white;
color: black;
margin: auto;
padding: 5rem;
/**/
}
.homeDark{
 /**/
 background-color: black;
 color: white;
 padding: 5rem;
margin: auto;
 /**/
}
.tituloHomeLight{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 50px;
    margin: auto;
    padding: 0.2rem;
    /* font-weight: 900; */
}
.tituloHomeDark{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 50px;
    font-weight: 900;
    padding: 0.2rem;
    color: white;
   

}

.subtituloHomeLight{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 35px;
    margin: auto;
    text-align: center;
    /* padding: 1.5rem 5rem; */
    padding-bottom: 10rem;

}
.subtituloHomeDark{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 35px;
    margin: auto;
    text-align: justify;
    color:white;
    padding-bottom: 10rem;
    
}
.parrafoHomeLight{
    font-size: 1.5rem;    
    line-height:1.7; 
    margin: auto;
    text-align: justify;
    font-family: 'Noto Serif', serif;
    padding: 0.3rem 0rem 3rem 2rem;
    
}
.parrafoHomeDark{
    font-size: 1.5rem;    
    line-height:1.7; 
    margin: auto;
    text-align: justify;
    font-family: 'Noto Serif', serif;
    padding: 0.3rem 0rem 3rem 2rem;
    color:white;
}
.two-columns-light {
    
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
       
    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;
    
    /**/
    -webkit-column-rule: 0.2rem solid black  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 0.2rem solid black  ; /* Firefox */
    column-rule: 0.2rem solid black  ;
   /**/

    margin: 2rem;
    
}
.two-columns-dark {
    
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
       
    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;
    
    /**/
    -webkit-column-rule: 0.2rem solid white  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 0.2rem solid white ; /* Firefox */
    column-rule: 0.2rem solid white  ;
   /**/

    margin: 2rem;
    
}

 @keyframes animacion{
    0%{
        transform: translateY(70%);
        color: transparent;
        
    }
    100%{
        /* transform: translate(0%); */
        
    }
}
@keyframes animaciontitulo{
    0%{
        transform: translateX(70%);
        color: transparent;
        
    }
    100%{
        /* transform: translate(0%); */
        
    }
} 

