.cart {
  background-color: hsl(0, 0%, 0%);
  height: 100vh;

  .empty-cart {
    height: 50%;
    width: 50%;
    text-align: center;
    justify-content: center;
    right: 150px;
    padding: 120px;
    h1 {
      color: white;
    }
  }
  .full-cart {
    justify-content: center;
    right: 150px;
    padding: 120px;
    h1 {
      color: white;
    }
  }
}
